<%- include('../components/Head')%>

<body>

  <header>
    <%- include('../components/Navbar')%>
  </header>

  <ul>
    <% if(typeof errors != 'undefined') { %> 
      <% errors.forEach(error=>{%>
        <li><%= error.message %></li> 
   <% })  %> <% } %>
  </ul>

  <div class="vh-100 d-flex justify-content-left align-items-top mt-4 ml-4">
    <form action="/tasks/EditTask/<%= taskId %>" method="POST">
      <div class="form-group">
        <label for="">Nazwa zadania</label>
        <input type="text" class="form-control" id="title" name="title" value="<%= taskData.task_title %>" maxlength="40" required>
      </div>
      <div class="form-group">
        <label for="">Szczegóły/opis zadania</label>
        <input type="text" class="form-control" id="details" name="details" value="<%= taskData.task_details %>" maxlength="100" required>
      </div>
      <button type="submit" class="btn btn-warning">Edytuj zadanie</button>
    </form>
  </div>

</body>