<%- include('../components/Head')%>

<body>

  <header>
    <%- include('../components/Navbar')%>
  </header>
  
  <% if (userRole === 'admin') { %>
  <div class="ml-3 mt-3 mb-3">
    <button class="btn btn-warning"><a href="/tasks/AddTask" class="text-decoration-none text-dark">Dodaj nowe zadanie</a></button>
  </div>
  <% } %>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nazwa zadania</th>
        <th scope="col">Szczegóły/opis zadania</th>
        <th scope="col">Data dodania</th>
        <th scope="col">Data rozpoczęcia</th>
        <th scope="col">Data zakończenia</th>
        <% if (userRole === 'admin') { %>
        <th scope="col"></th>
        <th scope="col"></th>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% tasks.forEach(function(task) { %>
        <tr>
          <td><%= task.title %></td>
          <td><%= task.details %></td>
          <td><%= moment(task.add_date).format('DD-MM-YYYY') %></td>
          <td><%= moment(task.start_date).format('DD-MM-YYYY') %></td>
          <td><%= moment(task.end_date).format('DD-MM-YYYY') %></td>
          <% if (userRole === 'admin') { %>
          <td>
            <button class="btn btn-warning"><a href="/realize/AddRealize/<%=task.id %>" class="text-decoration-none text-dark">Przydziel zadanie</a></button>
          </td>
          <td>
            <button class="btn btn-warning"><a href="/tasks/EditTask/<%= task.id %>" class="text-decoration-none text-dark">Edytuj</a></button>
          </td>
          <td>
            <button class="btn btn-danger"><a href="/tasks/DeleteTask/<%= task.id %>" class="text-decoration-none text-dark">Usuń</a></button>
          </td>
          <% } %>
        </tr>
      <% }); %>
    </tbody>
  </table>

</body>