<%- include('../components/Head')%>

<body>

  <header>
    <% if (userRole === 'admin') { %>
      <%- include('../components/Navbar')%>
    <% } 
    else if (userRole === 'user') { %>
      <%- include('../components/WorkerNavbar')%>
    <% } 
    else if (userRole === 'repairer') { %>
      <%- include('../components/SerwiceNavbar')%>
    <% } %>
  </header>

  <ul>
    <% if(typeof errors != 'undefined') { %> 
      <% errors.forEach(error=>{%>
        <li><%= error.message %></li> 
      <% })  %> 
    <% } %>
  </ul>

  <div class="vh-100 d-flex justify-content-left align-items-top mt-4 ml-4">
    <form action="/alerts/AddAlert" method="POST">
      <div class="form-group">
        <label for="">Tytuł awarii</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Tytuł" maxlength="40" required>
      </div>     
      <div class="form-group">
        <label for="">Podaj opis</label>
        <input type="text" class="form-control" id="details" name="details" placeholder="Opis zgłoszenia" maxlength="100" required>
      </div>
        <div class="form-group">
          <label for="">Na jakiej maszynie</label>
          <select class="form-control" id="machine" name="machine" required>
            <% realizeData.forEach(function(realizeData) { 
              if(realizeData.machine != null ) {%> 
              <option value="<%=realizeData.Mid %>"><%= realizeData.machine %>  </option>
              <% }}); %>
          </select>
      
      </div>
      <button type="submit" class="btn btn-warning">Dodaj zgłoszenie</button>
    </form>
  </div>

</body>
