<%- include('../components/Head')%>

<body>

  <header>
    <% if (userRole === 'admin') { %>
      <%- include('../components/Navbar')%>
    <% } 
    else if (userRole === 'repairer') { %>
      <%- include('../components/SerwiceNavbar')%>
    <% } %>
  </header>

  <% if (userRole === 'admin') { %>

    <div class="d-inline">
      <button class="btn btn-warning ml-3 mt-3 mb-3"><a href="/alerts/AlertHistory" class="text-decoration-none text-dark">Historia zgłoszeń awarii</a></button>
    </div>

  <% } %>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Kto zgłosił</th>
        <th scope="col">Opis</th>
        <th scope="col">Data dodania</th>
        <th scope="col">Status</th>
        <% if (userRole === 'admin' || userRole === 'repairer') { %>
        <th scope="col"></th>
        <% } %>
        <% if (userRole === 'admin') { %>
        <th scope="col"></th>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% alerts.forEach(function(alert) { %>
        <tr>
          <td><%= alert.title %></td>
          <td><%= alert.who_add_id %></td>
          <td><%= alert.details %></td>
          <td><%= moment(alert.add_date).format('lll')%></td>
          <td><%= alert.status %></td>
          <% if (userRole === 'admin' || userRole === 'repairer') { %>
          <td>
            <button class="btn btn-warning"><a href="/alerts/EditAlert/<%= alert.id %>" class="text-decoration-none text-dark">Edytuj</a></button>
          </td>
          <% if (userRole === 'repairer') { %>
            <% if (alert.status === 'W trakcie') { %>
              <td>
                <button class="btn btn-danger"><a href="/alerts/EndAlert/<%= alert.id %>/<%= alert.machine %>" class="text-decoration-none text-dark">Zakończ</a></button>
              </td>
              <% } else { %>
            <td>
              <button class="btn btn-danger"><a href="/alerts/StartAlert/<%= alert.id %>" class="text-decoration-none text-dark">Przydziel</a></button>
            </td>
            <% }} %>
          <% } %>
          <% if (userRole === 'admin') { %>
          <td>
            <button class="btn btn-danger"><a href="/alerts/DeleteAlert/<%= alert.id %>" class="text-decoration-none text-dark">Usuń</a></button>
          </td>
          <% } %>
        </tr>
      <% }); %>
    </tbody>
  </table>

</body>