<%- include('../components/Head')%>

<body>

  <header>
    <%- include('../components/Navbar')%>
  </header>

  <ul>
    <% if(typeof errors != 'undefined') { %> 
      <% errors.forEach(error=>{%>
        <li><%= error.message %></li> 
   <% })  %> <% } %>
  </ul>

  <div class="vh-100 d-flex justify-content-left align-items-top mt-4 ml-4">
    <form action="/alerts/EditAlert/<%= alertId %>" method="POST">
      <div class="form-group">
        <label for="">Nazwa</label>
        <input type="text" class="form-control" id="title" name="title" value="<%= alertData.alert_title %>">
      </div>
      <div class="form-group">
        <label for="">Zgłaszający</label>
        <input type="text" class="form-control" id="user" name="user" value="<%= alertData.alert_who_add %>">
      </div>
      <div class="form-group">
        <label for="">Szczegóły/opis</label>
        <input type="text" class="form-control" id="details" name="details" value="<%= alertData.alert_details %>">
      </div>
      <div class="form-group">
        <label for="">Data dodania</label>
        <input type="date" class="form-control" id="add_date" name="add_date" value="<%= alertData.alert_add_date %>">
      </div>
    
      <button type="submit" class="btn btn-warning">Edytuj zlecenie serwisowania</button>
    </form>
  </div>

</body>