<%- include('../components/Head')%>

<body>

  <header>
    <% if (userRole === 'admin') { %>
      <%- include('../components/Navbar')%>
    <% } 
    else if (userRole === 'repairer') { %>
      <%- include('../components/SerwiceNavbar')%>
  <% } %>
  </header>

  <ul>
    <% if(typeof errors != 'undefined') { %> 
      <% errors.forEach(error=>{%>
        <li><%= error.message %></li> 
   <% })  %> <% } %>
  </ul>

  <div class="vh-100 d-flex justify-content-left align-items-top mt-4 ml-4">
    <form action="/services/EditService/<%= serviceId %>" method="POST">
      <div class="form-group">
        <label for="">Nazwa</label>
        <input type="text" class="form-control" id="title" name="title" value="<%= serviceData.service_title %>" required>
      </div>
      <div class="form-group">
        <label for="">Maszyna</label>
        <select class="form-control" id="machine" name="machine" required>
          <% machineData.forEach(function(machineData) { 
            
            if(machineData.exist != false ) {%> 
            <option value="<%= machineData.Mid %>" <%= machineData.Mid == machineDataID[0].service_machine_id ? 'selected' : '' %>><%= machineData.machine %></option>
            <% }}); %>
        </select>
      </div>
      <div class="form-group">
        <label for="">Szczegóły/opis zadania</label>
        <input type="text" class="form-control" id="details" name="details" value="<%= serviceData.service_details %>" required>
      </div>
      <div class="form-group">
        <label for="">Data rozpoczęcia</label>
        <input type="text" class="form-control" id="start_date" name="start_date" value="<%= moment(serviceData.service_start_date).format('DD MM YYYY HH:mm') %>" required>
      </div>
      <div class="form-group">
        <label for="">Data zakończenia</label>
        <%if (serviceData.service_end_date === null) { %>
          <input type="text" class="form-control" id="end_date" name="end_date" value="">
          <% } else { %>
          <input type="text" class="form-control" id="end_date" name="end_date" value="<%= moment(serviceData.service_end_date).format('DD MM YYYY HH:mm') %>">
          <% } %>
      </div>
      <button type="submit" class="btn btn-warning">Edytuj zlecenie serwisowania</button>
    </form>
  </div>

</body>