<%- include('../components/Head')%>

<body>

  <header>
    <% if (userRole === 'admin') { %>
      <%- include('../components/Navbar')%>
    <% } 
    else if (userRole === 'repairer') { %>
      <%- include('../components/SerwiceNavbar')%>
  <% } %>
  </header>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Maszyna</th>
        <th scope="col">Opis</th>
        <th scope="col">Data rozpoczęcia</th>
        <th scope="col">Data zakończenia</th>
        <% if (userRole === 'admin' || userRole === 'repairer') { %>
        <th scope="col"></th>
        <% } %>
        <% if (userRole === 'admin') { %>
        <th scope="col"></th>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% services.forEach(function(service) { %>
        <tr>
          <td><%= service.title %></td>
          <td><%= service.machine_id %></td>
          <td><%= service.details %></td>
          <td><%= moment(service.start_date).format('DD-MM-YYYY')%></td>
          <td>
            <% if (moment(service.end_date).format('DD-MM-YYYY') === moment(00-00-0000).format('DD-MM-YYYY')) { %>
              <p>W trakcie</p>
            <% } else { %>
              <%= moment(service.end_date).format('DD-MM-YYYY') %>
            <% } %>
          </td>
          <% if (userRole === 'admin' || userRole === 'repairer') { %>
          <td>
            <button class="btn btn-warning"><a href="/services/EditService/<%= service.id %>" class="text-decoration-none text-dark">Edytuj</a></button>
          </td>
          <% if (userRole === 'admin') { %>
          <td>
            <button class="btn btn-danger"><a href="/services/DeleteService/<%= service.id %>" class="text-decoration-none text-dark">Usuń</a></button>
          </td>
          <% } %>
          <% } %>
        </tr>
      <% }); %>
    </tbody>
  </table>

</body>