<%- include('../components/Head')%>

<body>

  <header>
      <%- include('../components/Navbar')%>
  </header>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Maszyna</th>
        <th scope="col">Opis</th>
        <th scope="col">Data dodania serwisu</th>
        <th scope="col">Status serwisu</th>
        <th scope="col">Data zakończenia</th>
        <th scope="col">Wykonany przez</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% servicesH.forEach(function(service) { %>
        <tr>
          <td><%= service.title %></td>
          <td><%= service.machine_id %></td>
          <td><%= service.details %></td>
          <td><%= moment(service.start_date).format('lll') %></td>
          <td><%= service.service_status %></td>
          <td>
            <% if (moment(service.end_date).format('DD MM YYYY HH:mm') === moment('1970-01-01 00:00').format('DD MM YYYY HH:mm')) { %>
              <p>---</p>
            <% } else { %>
              <%= moment(service.end_date).format('lll') %>
            <% } %>
          </td>
          <td>
            <% if (service.service_user_id === 0) { %> <!-- Sprawdzamy, czy service_user_id równa się 0 -->
              <p>---</p>
            <% } else {
              const user = userH.find(user => user.user_id === service.service_user_id); <!--Przeszukujemy tablicę users w poszukiwaniu użytkownika o pasującym service_user_id-->
              if (user) { %> <!-- Jeśli znaleziono dopasowanie -->
                <%= user.person %> <!-- Wyświetlamy imię i nazwisko użytkownika -->
              <% } else { %>
                <p>---</p>
              <% }
            } %>
          </td>

          <td>
            <button class="btn btn-danger"><a href="/services/ArchiveService/<%= service.id %>" class="text-decoration-none text-dark">Usuń</a></button>
          </td>
        </tr>
      <% }); %>
      
      
    
    
    </tbody>
    
  </table>

</body>