<%- include('../components/Head')%>

<body>

  <header>
    <% if (userRole === 'admin') { %>
      <%- include('../components/Navbar')%>
    <% } 
    else if (userRole === 'repairer') { %>
      <%- include('../components/SerwiceNavbar')%>
  <% } %>
  </header>

  <% if (userRole === 'admin') { %>

      <div class="d-inline">
        <button class="btn btn-warning ml-3 mt-3 mb-3"><a href="/services/ServiceHistory" class="text-decoration-none text-dark">Historia serwisów</a></button>
      </div>
  
  <% } %>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Maszyna</th>
        <th scope="col">Opis</th>
        <th scope="col">Data dodania serwisu</th>
        <th scope="col">Status serwisu</th>
        <th scope="col">Wykonywany przez</th>
        <th scope="col">Data zakończenia</th>
        <% if (userRole === 'admin' || userRole === 'repairer') { %>
        <th scope="col"></th>
        <% } %>
        <% if (userRole === 'admin') { %>
        <th scope="col"></th>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% services.forEach(function(service) { %>
        <tr>
          <td><%= service.title %></td>
          <td><%= service.machine_id %></td>
          <td><%= service.details %></td>
          <td><%= moment(service.start_date).format('lll') %></td>
          <td><%= service.service_status %></td>

          <td>
          <% if (service.service_user_id === 0) { %> <!-- Sprawdzamy, czy service_user_id równa się 0 -->
            <p>---</p>
          <% } else {
            const matchedUser = user.find(user => user.user_id === service.service_user_id); <!--Przeszukujemy tablicę users w poszukiwaniu użytkownika o pasującym service_user_id-->
            if (matchedUser) { %> <!-- Jeśli znaleziono dopasowanie -->
              <%= matchedUser.person %> <!-- Wyświetlamy imię i nazwisko użytkownika -->
            <% } else { %>
              <p>---</p>
            <% }} %>
          </td>

          <td>
            <% if (moment(service.end_date).format('DD MM YYYY HH:mm') === moment('1970-01-01 00:00').format('DD MM YYYY HH:mm')) { %>
              <p>---</p>
            <% } else { %>
              <%= moment(service.end_date).format('lll') %>
            <% } %>
          </td>

          <% if (userRole === 'repairer') { %>
          <td>
            <button class="btn btn-warning"><a href="/services/EditService/<%= service.id %>" class="text-decoration-none text-dark">Edytuj</a></button>
          </td>
          <td>
            <button class="btn btn-danger"><a href="/services/StartService/<%= service.id %>" class="text-decoration-none text-dark">Przydziel</a></button>
          </td>
          <% } %>
          <% if (userRole === 'admin') { %>
          <td>
            <button class="btn btn-warning"><a href="/services/EditService/<%= service.id %>" class="text-decoration-none text-dark">Edytuj</a></button>
          </td>
          <td>
            <button class="btn btn-danger"><a href="/services/DeleteService/<%= service.id %>/<%= service.machine_ID_RLY %>" class="text-decoration-none text-dark">Usuń</a></button>
          </td>
          <% } %>
        </tr>
      <% }); %>
    </tbody>
  </table>

</body>