<%- include('../components/Head')%>

<body>

  <header>
    <%- include('../components/Navbar')%>
  </header>
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Kto zgłosił</th>
        <th scope="col">Opis</th>
        <th scope="col">Data dodania</th>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(function(user) { %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.surname %></td>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>

</body>