<%- include('../components/Head')%>

<body>

  <header>
    <% if (userRole === 'admin') { %>
        <%- include('../components/Navbar')%>
      <% } 
      else if (userRole === 'user') { %>
        <%- include('../components/WorkerNavbar')%>
      <% } 
      else if (userRole === 'repairer') { %>
        <%- include('../components/SerwiceNavbar')%>
    <% } %>
  </header>

  <div class="col-md-12 text-center font-weight-bold mt-5">
      <p>Zalogowany jako: <%= user_name %> <%= user_surname %></p>
        
     <% if (userRole === 'admin') { %>
      <p>Rola: admin</p>
      <% } 
      else if (userRole === 'user') { %>
        
        <p>Rola: pracownik</p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Maszyna</th>
              <th scope="col">Nazwa zadania</th>
              <th scope="col">Detale zadania</th>
              <th> </th>
            </tr>
          </thead>
          <tbody>
            <% realize.forEach(function(realize) { %>
              <tr>
                <td><%= realize.machine %></td>
                <td><%= realize.task %></td>
                <td><%= realize.details %></td>
                <td><button class="btn btn-danger"><a href="/realizes/EndRealize/<%= realize.TID %>/<%= realize.MID%>" class="text-decoration-none text-dark">Zakończ zadanie</a></button>
                </td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      <% } 
      else if (userRole === 'repairer') { %>
        <p>Rola: serwisant</p>
      <% } %>
  </div>

</body>


