<%- include('../components/Head')%>

<body>

  <header>
    <% if (userRole === 'admin') { %>
        <%- include('../components/Navbar')%>
      <% } 
      else if (userRole === 'user') { %>
        <%- include('../components/WorkerNavbar')%>
      <% } 
      else if (userRole === 'repairer') { %>
        <%- include('../components/SerwiceNavbar')%>
    <% } %>
  </header>

  <div class="col-md-12 text-center font-weight-bold mt-5">
      <p>Zalogowany jako: <%= user_name %> <%= user_surname %></p>
        
     <% if (userRole === 'admin') { %>
      <p>Rola: admin</p>
      <h4>Obecnie wykonywane zadania</h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nazwa zadania</th>
            <th scope="col">Szczegóły/opis zadania</th>

            <th scope="col">Data przydzielenia zadania</th>
            <th scopr="col">Data rozpoczęcia</th>
          </tr>
        </thead>
        <tbody>
          <% adminT.forEach(function(adminT) { %>
            <tr>
              <td><%= adminT.title %></td>
              <td><%= adminT.details %></td>
              <td>
                <% if (moment(adminT.start_date).format('DD MM YYYY HH:mm') === moment('1970-01-01 00:00').format('DD MM YYYY HH:mm')) { %>
                  <p>---</p>
                <% } else { %>
                  <%= moment(adminT.start_date).format('lll') %>
                <% } %>
              </td>
              <td>
                <% if (moment(adminT.start_date_by_user).format('DD MM YYYY HH:mm') === moment('1970-01-01 00:00').format('DD MM YYYY HH:mm')) { %>
                  <p>---</p>
                <% } else { %>
                  <%= moment(adminT.start_date_by_user).format('lll') %>
                <% } %>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>
      <h4>Obecnie wykonywane serwisy</h4>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Nazwa</th>
            <th scope="col">Maszyna</th>
            <th scope="col">Opis</th>
            <th scope="col">Data dodania serwisu</th>
            <th spoce="col">Realizacja</th>
          </tr>
        </thead>
        <tbody>
          <% adminS.forEach(function(adminS) { %>
            <tr>
              <td><%= adminS.title %></td>
              <td><%= adminS.machine_id %></td>
              <td><%= adminS.details %></td>
              <td><%= moment(adminS.start_date).format('lll') %></td>
              <td><%= adminS.status %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>


      <% } 
      else if (userRole === 'user') { %>
        
        <p>Rola: pracownik</p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Maszyna</th>
              <th scope="col">Nazwa zadania</th>
              <th scope="col">Detale zadania</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% realize.forEach(function(realize) { %>
              <tr>
                <td><%= realize.machine %></td>
                <td><%= realize.task %></td>
                <td><%= realize.details %></td>

                <% if (moment(realize.task_start_date_by_user).format('DD MM YYYY HH:mm') === moment('1970-01-01 00:00').format('DD MM YYYY HH:mm')) { %>
                <td><button class="btn btn-success"><a href="/realizes/StartRealize/<%= realize.TID %>" class="text-decoration-none text-dark">Rozpocznij zadanie</a></button>
                <% } else { %>
                  <td>Zadanie rozpoczęte</td>
                <% } %>

                <td><button class="btn btn-danger"><a href="/realizes/EndRealize/<%= realize.TID %>/<%= realize.MID%>" class="text-decoration-none text-dark">Zakończ zadanie</a></button>
                </td>
              </tr>
            <% }); %>
          </tbody>
        </table>
      <% } 
      else if (userRole === 'repairer') { %>
        <p>Rola: serwisant</p>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Tytuł serwisu </th>
              <th scope="col">Nazwa maszyna</th>
              <th scope="col">Detale serwisowe</th>
              <th scope="col">Typ maszyny</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% service.forEach(function(service) { %>
              <tr>
                <td><%= service.title %></td>
                <td><%= service.machine %></td>
                <td><%= service.details %></td>
                <td><%= service.type %></td>
                  <td><button class="btn btn-danger"><a href="/service/EndService/<%= service.id %>/<%= service.MID%>" class="text-decoration-none text-dark">Zakończ serwis</a></button>
                  </td>
              </tr>
            <% }); %>
          </tbody>
        </table>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Nazwa</th>
              <th scope="col">Opis</th>
              <th scope="col">Data dodania</th>
            </tr>
          </thead>
          <tbody>
            <% service.forEach(function(service) { %>
              <tr>
                <td><%= service.alertTitle %></td>
                <td><%= service.alertDetails %></td>
                
              </tr>
            <% }); %>
          </tbody>
        </table>
      <%}%>
  </div>

</body>


