<%- include('../components/Head')%>

<body>

  <header>
    <%- include('../components/Navbar')%>
  </header>

  <ul>
    <% if(typeof errors != 'undefined') { %> 
      <% errors.forEach(error=>{%>
        <li><%= error.message %></li> 
   <% })  %> <% } %>
  </ul>

  <div class="vh-100 d-flex justify-content-left align-items-top mt-4 ml-4">
    <form action="/users/EditUser/<%= userId %>" method="POST">
      <div class="form-group">
        <label for="">Imie</label>
        <input type="text" class="form-control" id="name" name="name" value="<%= userData.user_name %>" required>
      </div>
      <div class="form-group">
        <label for="">Nazwisko</label>
        <input type="text" class="form-control" id="surname" name="surname" value="<%= userData.user_surname %>" required>
      </div>
      <div class="form-group">
        <label for="">Email</label>
        <input type="email" class="form-control" id="email" name="email" value="<%= userData.user_email %>" required>
      </div>
      <div class="form-group">
        <label for="">Login</label>
        <input type="text" class="form-control" id="login" name="login" value="<%= userData.user_login %>" required>
      </div>
      <div class="form-group">
        <label for="">Hasło</label>
        <input type="text" class="form-control" id="password" name="password" value="<%= userData.user_password %>" required>
      </div>
      <div class="form-group">
        <label for="">Rola</label>
        <select multiple class="form-control" id="role" name="role" value="<%= userData.user_role %>" required>
            <option value="admin">Admin</option>
            <option value="user">Użytkownik</option>
            <option value="repairer">Serwisant</option>
          </select>
          <p class="text-secondary">
            <% if (userData.user_role === 'admin') { %>
              Obecna rola: Admin
            <% } 
            else if (userData.user_role === 'user') { %>
              Obecna rola: Pracownik
            <% } 
            else if (userData.user_role === 'repairer') { %>
              Obecna rola: Serwisant
          <% } %>
        </p>
      </div>
      <button type="submit" class="btn btn-warning">Edytuj użytkownik</button>
    </form>
  </div>

</body>