<%- include('../components/Head')%>

<body>

  <header>
    <%- include('../components/Navbar')%>
  </header>
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Rodzaj</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <% machines.forEach(function(machine) { %>
        <tr>
          <td><%= machine.name %></td>
          <td><%= machine.type %></td>
          <td><%= machine.status %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>

</body>