<%- include('../components/Head')%>

<body>

  <header>
    <%- include('../components/Navbar')%>
  </header>
  
  <div class="ml-3 mt-3 mb-3">
    <button class="btn btn-warning"><a href="/users/AddTask" class="text-decoration-none text-dark">Dodaj nowe zadanie</a></button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nazwa zadania</th>
        <th scope="col">Szczegóły/opis zadania</th>
        <th scope="col">Data dodania</th>
        <th scope="col">Data rozpoczęcia</th>
        <th scope="col">Data zakończenia</th>
      </tr>
    </thead>
    <tbody>
      <% tasks.forEach(function(task) { %>
        <tr>
          <td><%= task.title %></td>
          <td><%= task.details %></td>
          <td><%= task.add_date %></td>
          <td><%= task.start_date %></td>
          <td><%= task.end_date %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>

</body>