<%- include('../components/Head')%>

<body>

  <header>
    <%- include('../components/Navbar')%>
  </header>

  <ul>
    <% if(typeof errors != 'undefined') { %> 
      <% errors.forEach(error=>{%>
        <li><%= error.message %></li> 
   <% })  %> <% } %>
  </ul>

  <div class="vh-100 d-flex justify-content-left align-items-top mt-4 ml-4">
    <form action="/realizes/AddRealize/<%= realizeId %>" method="POST">
      <div class="form-group">
        <label for="">Kto ma wykonać</label>
        <select class="form-control" id="who_do" name="who_do">
          <% realizeData.forEach(function(realizeData) { 
            
            if(realizeData.Uid != null ) {%> 
            <option value="<%=realizeData.Uid %>"><%= realizeData.person %>  </option>
            <% }}); %>
        </select>
      </div>
      <div class="form-group">
        <label for="">Na jakiej maszynie</label>
        <select class="form-control" id="machine" name="machine">
          <% realizeData.forEach(function(realizeData) { 
            if(realizeData.machine != null ) {%> 
            <option value="<%=realizeData.Mid %>"><%= realizeData.machine %>  </option>
            <% }}); %>
        </select>
      </div>
      <button type="submit" class="btn btn-warning">Zleć realizacje</button>
    </form>
  </div>

</body>