<%- include('../components/Head')%>

<body>

  <header>
    <%- include('../components/Navbar')%>
  </header>

  <ul>
    <% if(typeof errors != 'undefined') { %> 
      <% errors.forEach(error=>{%>
        <li><%= error.message %></li> 
   <% })  %> <% } %>
  </ul>

  <div class="vh-100 d-flex justify-content-left align-items-top mt-4 ml-4">
    <form action="/tasks/EditTask/<%= taskId %>" method="POST">
      <div class="form-group">
        <label for="">Nazwa zadania</label>
        <input type="text" class="form-control" id="title" name="title" value="<%= taskData.task_title %>">
      </div>
      <div class="form-group">
        <label for="">Szczegóły/opis zadania</label>
        <input type="text" class="form-control" id="details" name="details" value="<%= taskData.task_details %>">
      </div>
      <div class="form-group">
        <label for="">Data dodania</label>
        <input type="date" class="form-control" id="add_date" name="add_date" value="<%= taskData.task_add_date %>">
        <p class="text-secondary">Obecna data: <%= moment(taskData.task_add_date).format('DD-MM-YYYY')%></p>
      </div>
      <div class="form-group">
        <label for="">Data rozpoczęcia</label>
        <input type="date" class="form-control" id="start_date" name="start_date" value="<%= taskData.task_start_date %>">
        <p class="text-secondary">Obecna data: <%= moment(taskData.task_add_date).format('DD-MM-YYYY')%></p>
      </div>
      <div class="form-group">
        <label for="">Data zakończenia</label>
        <input type="date" class="form-control" id="end_date" name="end_date" value="<%= taskData.task_end_date %>">
        <p class="text-secondary">Obecna data: <%= moment(taskData.task_end_date).format('DD-MM-YYYY')%></p>
      </div>
      <button type="submit" class="btn btn-warning">Edytuj zadanie</button>
    </form>
  </div>

</body>