<%- include('../components/Head')%>

<body>

  <header>
    <%- include('../components/Navbar')%>
  </header>

  <ul>
    <% if(typeof errors != 'undefined') { %> 
      <% errors.forEach(error=>{%>
        <li><%= error.message %></li> 
   <% })  %> <% } %>
  </ul>

  <div class="vh-100 d-flex justify-content-left align-items-top mt-4 ml-4">
    <form action="/realizes/EditRealize/<%= realizeId %>" method="POST">
      <div class="form-group">
        <label for="">Kto wykonuje</label>
        <select id="who_do" name="who_do">
          <% AllRealizeData.forEach((AllRealizeData) => { %>
            <option value="<%= AllRealizeData.Uid %>" <%= AllRealizeData.Uid == realizeUser[0].UidUSER ? 'selected' : '' %>><%= AllRealizeData.person %></option>
          <% }); %>
        </select>
      </div>

      <div class="form-group">
        <label for="">Jaka maszyna</label>
        <select id="machine" name="machine">
          <% AllRealizeData.forEach((AllRealizeData) => { %>
            <option value="<%= AllRealizeData.MId %>" <%= AllRealizeData.MId == realizeUser[0].MIdUSER ? 'selected' : '' %>><%= AllRealizeData.machine %></option>
          <% }); %>
        </select>
      </div> 

      <div class="form-group">
        <label for="">Jaka zadanie</label>
        <select id="task" name="task">
          <% AllRealizeData.forEach((AllRealizeData) => { %>
            <option value="<%= AllRealizeData.TId %>" <%= AllRealizeData.TId == realizeUser[0].TIdUSER ? 'selected' : '' %>><%= AllRealizeData.task %></option>
          <% }); %>
        </select>
      </div> 

      <button type="submit" class="btn btn-warning">Edytuj zadanie</button>
    </form>
  </div>
</body>