<%- include('../components/Head')%>

<body>

  <header>
    <% if (userRole === 'admin') { %>
      <%- include('../components/Navbar')%>
    <% } 
    else if (userRole === 'repairer') { %>
      <%- include('../components/SerwiceNavbar')%>
  <% } %>
  </header>
  <% if (userRole === 'admin') { %>
  <div class="ml-3 mt-3 mb-3">
    <button class="btn btn-warning"><a href="/machines/AddMachine" class="text-decoration-none text-dark">Dodaj nową maszynę</a></button>
  </div>
  <% } %>
  
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Nazwa</th>
        <th scope="col">Rodzaj</th>
        <th scope="col">Status</th>
        <% if (userRole === 'admin') { %>
        <th scope="col"></th>
        <th scope="col"></th>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% machines.forEach(function(machine) { %>
        <tr>
          <td><%= machine.name %></td>
          <td><%= machine.type %></td>
          <td><%= machine.status %></td>
          <% if (userRole === 'admin') { %>
          <td>
            <button class="btn btn-warning"><a href="/machines/ServiceMachine/<%= machine.id %>" class="text-decoration-none text-dark">Zgłoś serwis</a></button>
          </td>
          <td>
            <button class="btn btn-warning"><a href="/machines/EditMachine/<%= machine.id %>" class="text-decoration-none text-dark">Edytuj</a></button>
          </td>
          <td>
            <button class="btn btn-danger"><a href="/machines/DeleteMachine/<%= machine.id %>" class="text-decoration-none text-dark">Usuń</a></button>
          </td>
          <% } %>
        </tr>
      <% }); %>
    </tbody>
  </table>

</body>